<ons-page ng-controller="HomeCtrl as home">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="mySplitter.left.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Home
        </div>
    </ons-toolbar>
    <!--<p style="text-align: center; opacity: 0.6; padding-top: 20px;">-->
        <!--Tap the floating buttom to create-->
    <!--</p>-->
    <ons-list ng-repeat="data in tempData track by $index">
        <ons-list-item tappable ng-click="home.pushPage({'id': 'html/lyrics.html', 'data': data, 'isNew': false}, 'lift-ios')">
            <div class="left">
                {{ data.title }}
            </div>
            <div class="right">
                <ons-button modifier="quiet" ng-click="home.delete($event, data)"><ons-icon icon="fa-trash"></ons-icon></ons-button>
            </div>
        </ons-list-item>
    </ons-list>
    <ons-fab position="top right" ng-click="home.pushPage({'id': 'html/lyrics.html', 'isNew': true}, 'lift-ios')">
        <ons-icon icon="fa-pencil"></ons-icon>
    </ons-fab>
</ons-page>